<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/ajax.js" type="text/javascript"></script>
<script src="~/js/rabbitmq.js"></script>
<div class="buttons">
    <button class="btn" type="button" onclick="location.href='@Url.Action("Metrics", "View")'">Metrics</button>
    <button class="btn" type="button" onclick="location.href='@Url.Action("Add", "View")'">Add</button>
</div>
<div class="high">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="medium">
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
</div>
<div class="low">
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
    <div><div class="name">&nbsp;</div></div>
</div>
<div id="footer"></div>