@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~\css\bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/css/addstyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3 head">Add metric</h4>
        <form class="needs-validation" novalidate="">
            <div class="mb-3">
                <label for="addNameInput">Name</label>
                <input type="text" class="form-control" id="addNameInput" value="">
            </div>
            <div class="mb-3">
                <label for="username">IsBoolean</label>
                <div class="custom-control custom-radio">
                    <input id="addIsBooleanInputTrue" name="isBoolean" type="radio" class="custom-control-input" value="true" checked required>
                    <label class="custom-control-label" for="addIsBooleanInputTrue">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="addIsBooleanInputFalse" name="isBoolean" type="radio" class="custom-control-input" value="false" checked required>
                    <label class="custom-control-label" for="addIsBooleanInputFalse">No</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="addNameInput">WarningThreshold</label>
                <input type="text" class="form-control" id="addWarningThresholdInput" value="">
            </div>
            <div class="mb-3">
                <label for="addNameInput">AlarmThreshold</label>
                <input type="text" class="form-control" id="addAlarmThresholdInput" value="">
            </div>
            <div class="mb-3">
                <label for="country">Priority</label>
                <select class="custom-select d-block w-100" id="addPriorityInput" required="">
                    <option value="">Choose...</option>
                    <option value="2">Low</option>
                    <option value="1">Medium</option>
                    <option value="0">High</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="addKindInput">Kind</label>
                <input type="text" class="form-control" id="addKindInput" value="">
            </div>
            <div>
                <button class="btn btn-primary btn-sm" type="button" onclick="processAdd()">Save</button>
                <button class="btn btn-primary btn-sm" type="button" onclick="location.href='@Url.Action("Metrics", "Metric")'">Back</button>
            </div>
        </form>
    </div>
    <script src="~/js/AddMetric.js"></script>
    <script src="~/js/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/7e6d09d347.js"></script>
</body>
</html>