@{
    Layout = null;
}

@model GraphicModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Chart.bundle.min.js"></script>
    <script src="~/js/Graphic.js"></script>
</head>
<body>
    @if (Model != null)
    {
        <div style="width: 600px; height: 600px;"><canvas id="myChart" width="400" height="400"></canvas></div>
        <button type="button" id="btnBack" onclick="location.href='@Url.Action("Metrics", "Home")'">Back to Metrics</button>
        <script>
            getData(@Model.MetricId);
        </script>
    }
    else
    {
        <p>Метрики с данным идентификатором не существует!</p>
    }
</body>
</html>
