* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.head {
    margin-top: 20px;
}

.row-my {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.col-my {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.table-head {
    background-color: #4682B4;
    width: 100%;
}

.table-head-th {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.table-body {
    width: 100%;
    border: 0;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 2px;
    border-style: solid;
    border-color: #CCCCCC;
}

.table-body-tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.table-col {
    padding: 15px 0;
    padding-left: 10px;
    font-size: 18px;
}


.col__title {
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    color: #fff;
}

.btn {
    margin-bottom: 10px;
}

.errormsg {
    padding: 20px;
}
